<?php

# Define the settings
$settings = array (
	'password'				=> 'the_password',
	'usersAutocomplete'		=> '/path/to/endpoint/data.html?source=local,lookup',
	'calendarName'			=> 'Widgets',
);

# Run the application with the specified settings
require_once ('vendor/autoload.php');
new timetables ($settings);

?>